{% extends 'base.html'%}
{% load static %}
{% block body_block %}

<!-- Start Popup Mobile Menu  -->
<div class="d-block d-xl-none">
        <div class="tmp-popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html" class="logo-area">
                            <img class="logo-dark" src="{% static 'assets/images/logo/logo-blue.svg' %}" alt="logo">
                            <img class="logo-white" src="{% static 'assets/images/logo/white-logo-reeni.png' %}" alt="logo">
                        </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button tmp-round-action-btn">
                            <i class="fa-sharp fa-light fa-xmark"></i>
                        </button>
                    </div>
                </div>

                <ul class="tmp-mainmenu onepagenav-click">
                    <li><a class="smoth-animation" href="#home">Home</a></li>
                    <li><a class="smoth-animation" href="#service">Services</a></li>
                    <li><a class="smoth-animation" href="#portfolio">Portfolio</a></li>
                    <li><a class="smoth-animation" href="#resume">Resume</a></li>
                    <li><a class="smoth-animation" href="#pricing">Pricing</a></li>
                    <li><a class="smoth-animation" href="#blog">Blog</a></li>
                    <li><a class="smoth-animation" href="#contacts">Contact</a></li>
                </ul>

                <!-- social sharea area -->
                <div class="social-wrapper mt--40">
                    <span class="subtitle">find with me</span>
                    <div class="social-link">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <!-- end -->

            </div>
        </div>
</div>
    <!-- End Popup Mobile Menu  -->


    <!-- tmp banner area start -->
    {% for i in heroarea %}
    <div class="tmp-banner-one-area model-style-banner with-instructor style-2" id="home" data-black-overlay="2">
        <div class="container">
            <div class="banner-one-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-12 ">
                        <div class="inner banner-model-15">
                            <h1 class="title tmp-fade-in">
                                {{i.title|safe}}
                            </h1>
                            <p class="disc tmp-fade-in">
                                {{i.note}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-area-wrapper-varticle">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="hero-bg-video">
            <video autoplay="" muted="" loop="" id="myVideo">
                <source src="{{i.bgimage.url}}" type="video/mp4">
            </video>
        </div>
    </div>
    <!-- tmp banner area end -->

    <!-- tmp text para start -->
    <div class="about-content-area">
        <div class="container tmp-section-gapTop">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in inv-title-animation-wrap animation-order-1">
                    {{i.description}}
                </h2>
                <div class="right-bg-text-para">
                    <img src="{% static 'assets/images/banner/right-bg-text-para-doc.png' %}" alt="">
                </div>
                <div class="left-bg-text-para">
                    <img src="{% static 'assets/images/banner/left-bg-text-para-doc.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- tmp text para end -->
    {% endfor %}

    <!-- Tpm Latest Portfolio Start -->
    <section class="tmp-latest-portfolio tmp-section-gapTop">
        <div class="container">
            {% for i in title %}
            <div class="header-top-inner">
                <div class="section-head text-align-left">
                    <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Recent Portfolio</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">{{ i.title|safe }}</h2>
                </div>
                <div class="discription-area tmp-scroll-trigger tmp-fade-in animation-order-3">
                    {{ i.description }}
                </div>
            </div>
            {% endfor %}
            <div class="row g-5">
                {% for i in portfolioarea %}
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{{ i.img.url }}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{{ i.img.url }}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">{{ i.name|safe }}</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Wedding</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Style</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                 {% endfor %}
                <!-- <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/02.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'assets/images/portfolio/02.webp' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Brand Promoting</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Promot</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Model</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/03.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="{% static 'assets/images/portfolio/03.webp' %}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Product Marketing</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Shirt</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Brand</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Sell</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Details</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="latest-portfolio-card-style-two tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <div class="portfoli-card-img">
                            <div class="img-box v2">
                                <a href="project-details.html">
                                    <img class="img-primary hidden-on-mobile" src="{% static 'assets/images/portfolio/04.webp' %}" alt="Blog Thumbnail">
                                    <img class="img-secondary col-md-6" src="{% static 'assets/images/portfolio/04.webp'%}" alt="BLog Thumbnail">
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-card-content-wrap">
                            <div class="content-left">
                                <h3 class="portfolio-card-title"><a href="project-details.html">Dashboard design</a>
                                </h3>
                                <div class="tag-items">
                                    <ul>
                                        <li>
                                            <a href="#" class="tag-item">Adobe</a>
                                        </li>
                                        <li>
                                            <a href="#" class="tag-item">Webflow</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tmp-button-here">
                                <a class="tmp-btn hover-icon-reverse radius-round btn-border btn-md" href="project-details.html">
                                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View Design</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="see-all-btn-wrap text-center mt--60">
                <a class="tmp-btn hover-icon-reverse radius-round" href="#">
                    <span class="icon-reverse-wrapper">
                        <span class="btn-text">View All Portfolio</span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- Tpm Latest Portfolio End -->

        <!-- Tpm Education Experience Area Start -->
    <section class="education-experience tmp-section-gapTop" id="resume">
        <div class="container">
            {% for i in resume %}
            <div class="section-head mb--50">
                <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <span class="subtitle">{{ i.title|safe }}</span>
                </div>
                <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">{{ i.description|safe }}
                </h2>
                <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">
                    {{ i.note|safe }}</p>
            </div>
            {% endfor %}
            {% for i in resume %}
            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">{{ i.title1|safe }} 
                <!-- <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span> -->
            </h2>
            {% endfor %}
           
            <div class="row g-5">
                 {% for i in resume1 %}
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h4 class="edu-sub-title">{{ i.title|safe }}</h4>
                        <h2 class="edu-title">{{ i.note|safe }}</h2>
                        <p class="edu-para">{{ i.description|safe }}</p>
                    </div> 
                </div>
               {% endfor %}
                <!-- <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <h4 class="edu-sub-title">Assistant Director</h4>
                        <h2 class="edu-title">2010-2014</h2>
                        <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                        <h4 class="edu-sub-title">Design Assistant</h4>
                        <h2 class="edu-title">2008-2012</h2>
                        <p class="edu-para">I’ve had the privilege of working with various clients, from startups to established companies, helping bring their visions to life.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                        <h4 class="edu-sub-title">Design Assistant</h4>
                        <h2 class="edu-title">2008-2012</h2>
                        <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs a personal.</p>
                    </div>
                </div> -->
            </div>
            
            <div class="experiences-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="experiences-wrap-left-content">
                            {% for i  in resume %}
                            <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">{{ i.title2|safe }} 
                                <!-- <span><img src="{% static 'assets/images/custom-line/custom-line.png' %}" alt="custom-line"></span> -->
                            </h2>
                            {% endfor %}
                            {% for i in resume2 %}
                            <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                                <p class="ex-subtitle">{{ i.title|safe }}</p>
                                <h2 class="ex-name" >{{ i.experience|safe }}</h2>
                                <h3 class="ex-title">{{ i.position|safe }}</h3>
                                <p class="ex-para">{{ i.description|safe }}</p>
                            </div>
                            {% endfor %}
                            <!-- <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-2">
                                <p class="ex-subtitle">experience</p>
                                <h2 class="ex-name">ModernTech (3 Years)</h2>
                                <h3 class="ex-title">App Developer</h3>
                                <p class="ex-para">In this portfolio, you’ll find a curated selection of projects that highlight my skills in [Main Areas, e.g., responsive web design.</p>
                            </div> -->
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        {% for i in resume %}
                        <div class="experiences-wrap-right-content">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="{{ i.image.url }}" alt="expert-img">
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Tpm Education Experience Area End -->

    


{% endblock%}